.div{
    width: 35%;
    height: 70%;
    margin-top: 0;
    margin-left: 30%;
    background-color:rgba(45, 49, 50, 0.5);
}
@media only screen and (max-width: 500px) {
    .div{
       visibility:visible;
    }
}
.t1{
    width: 30%;
    padding: 12px 5px;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
}

input[type=text]
{
    width: 75%;
    padding: 12px;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
}
input[type=textarea]
{
    width: 75%;
    padding: 12px;
    margin-left: 12%;
    margin-top: 2%; 
}
.btn1
{
    width: 35%;
    height: 100%;
    background-color: rgb(13, 109, 129);
    color: white;
    margin-right: 30%;
    margin-top: 5%;
    padding: 10px 5px;
    margin-bottom: 10%;
    
}
.btn2
{
    width: 30%;
    background-color: rgb(13, 109, 129);
    color: white;
    margin-top: 5%;
    padding: 10px 5px;
    margin-bottom: 10%;
}
label{
    
    float: left;
    margin-left: 7%;
        
    }